/* line 10, ../../app/stylesheets/custom.scss */
.two-col {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 12, ../../app/stylesheets/custom.scss */
.two-col #header, .two-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .two-col #header, * html .two-col #footer {
  overflow-x: hidden;
}
/* line 15, ../../app/stylesheets/custom.scss */
.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .two-col #content {
  overflow-x: hidden;
}

/* line 20, ../../app/stylesheets/custom.scss */
body {
  background: #cff;
  font-family: "Century Gothic", sans-serif;
}

/* Header */
/* line 28, ../../app/stylesheets/custom.scss */
header {
  padding-top: 20px;
}
/* line 30, ../../app/stylesheets/custom.scss */
header img {
  padding: 1em;
  background: #fff;
  height: 6em;
}

/* line 37, ../../app/stylesheets/custom.scss */
section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}
/* line 42, ../../app/stylesheets/custom.scss */
section h1 {
  font-size: 200%;
}

/* Footer */
/* line 49, ../../app/stylesheets/custom.scss */
footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* line 54, ../../app/stylesheets/custom.scss */
footer nav {
  float: none;
}

/* Links */
/* line 62, ../../app/stylesheets/custom.scss */
a {
  color: #09c;
  text-decoration: none;
}
/* line 65, ../../app/stylesheets/custom.scss */
a:hover {
  color: #069;
  text-decoration: underline;
}
/* line 69, ../../app/stylesheets/custom.scss */
a:visited {
  color: #069;
}

/* Sign up button */
/* line 76, ../../app/stylesheets/custom.scss */
a.signup_button {
  margin-top: 20px;
  display: block;
  text-align: center;
  background: #006400;
  font-size: 150%;
  padding: 20px;
  color: #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html a.signup_button {
  overflow-x: hidden;
}

/* Rounded corners */
/* line 91, ../../app/stylesheets/custom.scss */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Navigation */
/* line 97, ../../app/stylesheets/custom.scss */
nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}
/* line 102, ../../app/stylesheets/custom.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 105, ../../app/stylesheets/custom.scss */
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
/* line 109, ../../app/stylesheets/custom.scss */
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
/* line 112, ../../app/stylesheets/custom.scss */
nav ul li a:visited {
  color: #09c;
}
/* line 115, ../../app/stylesheets/custom.scss */
nav ul li a:hover {
  text-decoration: underline;
}

/* line 123, ../../app/stylesheets/custom.scss */
h2.sign_form {
  display: inline-block;
  padding: 0.2em 0;
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* User show page */
/* line 134, ../../app/stylesheets/custom.scss */
table.profile, table.book_entry {
  width: 100%;
  margin-bottom: 0;
}

/* line 140, ../../app/stylesheets/custom.scss */
td .main {
  width: 70%;
  padding: 1em;
}
/* line 144, ../../app/stylesheets/custom.scss */
td .sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

/* line 152, ../../app/stylesheets/custom.scss */
.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}
