/* line 10, ../../app/stylesheets/custom.scss */
.two-col {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 12, ../../app/stylesheets/custom.scss */
.two-col #header, .two-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .two-col #header, * html .two-col #footer {
  overflow-x: hidden;
}
/* line 15, ../../app/stylesheets/custom.scss */
.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .two-col #content {
  overflow-x: hidden;
}

/* line 20, ../../app/stylesheets/custom.scss */
body {
  background: #cff;
  font-family: "Century Gothic", sans-serif;
}

/* Header */
/* line 28, ../../app/stylesheets/custom.scss */
header {
  padding-top: 20px;
}
/* line 30, ../../app/stylesheets/custom.scss */
header img {
  padding: 1em;
  background: #fff;
  height: 6em;
}

/* line 37, ../../app/stylesheets/custom.scss */
section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}
/* line 42, ../../app/stylesheets/custom.scss */
section h1 {
  font-size: 200%;
}

/* Footer */
/* line 49, ../../app/stylesheets/custom.scss */
footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* line 54, ../../app/stylesheets/custom.scss */
footer nav {
  float: none;
}

/* Links */
/* line 62, ../../app/stylesheets/custom.scss */
a {
  color: #09c;
  text-decoration: none;
}
/* line 65, ../../app/stylesheets/custom.scss */
a:hover {
  color: #069;
  text-decoration: underline;
}
/* line 69, ../../app/stylesheets/custom.scss */
a:visited {
  color: #069;
}

/* Sign up button */
/* line 76, ../../app/stylesheets/custom.scss */
a.signup_button {
  margin-top: 20px;
  display: block;
  text-align: center;
  background: #006400;
  font-size: 150%;
  padding: 20px;
  color: #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html a.signup_button {
  overflow-x: hidden;
}

/* Rounded corners */
/* line 91, ../../app/stylesheets/custom.scss */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Navigation */
/* line 97, ../../app/stylesheets/custom.scss */
nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}
/* line 102, ../../app/stylesheets/custom.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 105, ../../app/stylesheets/custom.scss */
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
/* line 109, ../../app/stylesheets/custom.scss */
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
/* line 112, ../../app/stylesheets/custom.scss */
nav ul li a:visited {
  color: #09c;
}
/* line 115, ../../app/stylesheets/custom.scss */
nav ul li a:hover {
  text-decoration: underline;
}

/* line 123, ../../app/stylesheets/custom.scss */
h2.sign_form {
  display: inline-block;
  padding: 0.2em 0;
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* line 132, ../../app/stylesheets/custom.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 136, ../../app/stylesheets/custom.scss */
.field.label {
  font-weight: bold;
}

/* User show page */
/* line 141, ../../app/stylesheets/custom.scss */
.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* line 146, ../../app/stylesheets/custom.scss */
table.profile {
  width: 100%;
  marginbottom: 0;
}
/* line 150, ../../app/stylesheets/custom.scss */
table.profile td .main {
  width: 70%;
  padding: 1em;
}
/* line 154, ../../app/stylesheets/custom.scss */
table.profile td .sidebar {
  width: 30%;
  padding: 1em;
  verticalalign: top;
  background: #ffc;
}

/* CSS for listing books both on user profile and home page */
/* line 165, ../../app/stylesheets/custom.scss */
.book_list {
  list-style-type: none;
  overflow: auto;
}
/* line 168, ../../app/stylesheets/custom.scss */
.book_list .book_container {
  height: 200px;
  width: 200px;
  float: left;
}

/* line 175, ../../app/stylesheets/custom.scss */
.book_node {
  height: 160px;
  width: 160px;
  margin: 20px;
  background-color: #ccc;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 181, ../../app/stylesheets/custom.scss */
.book_node .book_name {
  padding: 10px;
}

/* Error messages */
/* line 188, ../../app/stylesheets/custom.scss */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}
/* line 193, ../../app/stylesheets/custom.scss */
.field_with_errors label {
  color: #fff;
}

/* line 199, ../../app/stylesheets/custom.scss */
#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 206, ../../app/stylesheets/custom.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 7px;
  background-color: #c00;
  color: #fff;
}
/* line 216, ../../app/stylesheets/custom.scss */
#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
/* line 221, ../../app/stylesheets/custom.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: none;
}
