@mixin rounded($r) {
  -moz-border-radius:    $r;
  -webkit-border-radius: $r;
  border-radius:         $r;
}


@import "blueprint";
 
.two-col {
  @include container;
  #header, #footer {
    @include column(24);
  }
  #content {
    @include column(24, true);
  }
}

body {
  background: #cff;
  font-family: "Century Gothic", sans-serif;
}


/* Header */

header {
  padding-top: 20px;
  img {
    padding: 1em;
    background: #fff;
    height: 6em;
  }
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
  h1 {
    font-size: 200%;
  }
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  nav {
    float: none;
  }
}


/* Links */

a {
  color: #09c;
  text-decoration: none;
  &:hover {
    color: #069;
    text-decoration: underline;
  }
  &:visited {
    color: #069;
  }
  
}

/* Sign up button */
a.signup_button {
  margin-top: 20px;
  display: block;
  text-align: center;
  background: #006400;
  font-size: 150%;
  padding: 20px;
  color: #ffffff;
  @include rounded(10px);
  @include column(4)
}

/* Rounded corners */


.round {
  @include rounded(10px)  
}

/* Navigation */

nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 0;
      a {
        padding: 0 5px;
        font-weight: bold;
        &:visited {
          color: #09c;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

h2.sign_form {
  display: inline-block;
  padding: 0.2em 0;
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 30px;
}


div.field, div.actions {
  margin-bottom: 10px;
}

.field.label {
  font-weight: bold
}
/* User show page */

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

table.profile {
  width: 100%;
  marginbottom: 0;
  td{
    .main {
      width: 70%;
      padding: 1em;
    }
    .sidebar {
      width: 30%; 	
      padding: 1em; 	
      verticalalign: top;	 	
      background: #ffc;	 	
    } 	
  }
}
	 	

/* CSS for listing books both on user profile and home page */
.book_list{
  list-style-type: none;
  overflow: auto;
  .book_container{
    height: 200px;
    width: 200px;
    float: left;
  }  
}

.book_node {
  height: 160px;
  width: 160px;
  margin: 20px;
  background-color: #ccc;
  text-align: center;
  .book_name {
    padding:10px;
  }
  @include rounded(10px)
}

/* Error messages */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
  label {
    color: #fff;
  }
}
 

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 7px;
    background-color: #c00;
    color: #fff;
  }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
  }
  ul li {
    font-size: 12px;
    list-style: none;
  }
}
