@mixin rounded($r) {
  -moz-border-radius:    $r;
  -webkit-border-radius: $r;
  border-radius:         $r;
}

.container {
  width: 710px;
}

body {
  background: #cff;
  font-family: "Century Gothic", sans-serif;
}


/* Header */

header {
  padding-top: 20px;
  img {
    padding: 1em;
    background: #fff;
    height: 6em;
  }
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
  h1 {
    font-size: 200%;
  }
}



/* Links */

a {
  color: #09c;
  text-decoration: none;
  &:hover {
    color: #069;
    text-decoration: underline;
  }
  &:visited {
    color: #069;
  }
  
}

/* Sign up button */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  background: #006400;
  font-size: 150%;
  padding: 20px;
  color: #ffffff;
  @include rounded(10px)
}

/* Rounded corners */


.round {
  @include rounded(10px)  
}

/* Navigation */

nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 0;
      a {
        padding: 0 5px;
        font-weight: bold;
        &:visited {
          color: #09c;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}




/* User show page */

table.profile, table.book_entry {
  width: 100%;
  margin-bottom: 0;
}



td{
  .main {
    width: 70%;
    padding: 1em;
  }
  .sidebar {
    width: 30%;
    padding: 1em;
    vertical-align: top;
    background: #ffc;
  }
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}



