%section.round
  %h1 Home

/ We need partials for two things:
/ 1) if user is not signed in, they see all books without availability status etc
/ 2) if user is signed in, they only see available books, with copies, location info etc


/ if user is not signed in
%section.round
  .book_list
    - @books.each do |b|
      .book
        .book_image= image_tag(b.image_url || default_image_url)
        .book_details
          .book_title= b.title
  = will_paginate @books
