/ The paths need to be dynamic
/ If the user is not signed in versus signed in
#header
  %header
    = link_to logo,root_path
    %nav.round
      %ul
        %li= link_to "Home", root_path
        %li= link_to "Help",help_path
        %li= render "devise/menu/login_items" 